extends ../layout/common.pug 

block bootstrap
 h1 Create User
 form(action="/users/create", method="POST",class="form-inline")
  .form-group.mx-sm-3.mb-2
   input(type="text", name="name", class="form-control",placeholder="Name")
   button(class="btn btn-primary ml-2 ") Create
 a(href="/",class="btn btn-secondary") Get to index