extends ../layout/common.pug 

block bootstrap
 h1 Create User

 if errors
  each error in errors
   .alert.alert-danger= error

 form(action="/users/create", method="POST", enctype="multipart/form-data")
   .form-group(style="width:20rem")
    input#name.form-control(type="text", name="name",placeholder="Name", value=value ? value.name : "")
   .form-group(style="width:20rem")
    input#phone.form-control(type="tel", name="phone",pattern="[0-9]{10}",placeholder="phone", value=value ? value.phone : "" )
   .form-group
    label(for="avatar") Avatar
    input#avatar.form-control-file(type="file", name="avatar")
   button(class="btn btn-primary ") Create
 