extends ../layout/common.pug 

block bootstrap
 h1 Users

 
 form(action="/users/search" method="GET", class="d-flex")
  input(type="text", name="name",class="input-group-text")
  button(class="btn btn-primary ml-2") Search
 table(class="table",style="width:80%")
  thread   
   tr
    th Name
    th Phone
    th Information
    th 
   tbody 
   each user in users
    tr
     td(scope="row")=user.name
     td=user.phone
     td 
         
         a.btn.btn-light(href="/users/view/" + user.id) View
     td
      button.close(type='button', aria-label='Close')
       span(aria-hidden='true') &times;
 
